<div class="states">
    <div class="infototal">
        <div class="head">Tournament Hosted</div>
        <div class="stats">
            <div class="num">
                <%= num %>
            </div>
        </div>
    </div>
    <div class="infototal">
        <div class="head">Next contest date</div>
        <div class="stats">
            <div class="num">26/05/21</div>
        </div>
    </div>
</div>