<div class="add_topplayer">
    <div class="head">Add Top Players</div>
    <div class="addform">
        <form id="addtopplayer_form">
            <p>
                <label for="">Index</label>
                <input type="number" required name="index" id="">
            </p>
            <p>
                <label for="">Username</label>
                <input type="text" required name="name" id="">
            </p>
            <p>
                <label for="">Kills</label>
                <input type="number" required name="kills" id="">
            </p>
            <p>
                <label for="">Speciality</label>
                <input type="text" required name="speciality" id="">
            </p>
            <p>
                <button>Add</button>

            </p>
            <div class="atopplayererror"></div>
        </form>
    </div>
</div>
