<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login/login.css">
    <title>login</title>
</head>

<body>
    <div class="card">
        <div class="head">Admin Panel</div>
        <div class="main">

            <div class="form">
                <form action="/login" method="POST">
                    <p>
                        <input type="text" name="user" id="user" placeholder="Username" required>
                    <div class="user error"></div>

                    </p>
                    <p>
                        <input type="password" name="password" id="pass" placeholder="Enter Password" required>
                        <div class="password error"></div>

                    </p>
                    <p>
                        <button id="login">login</button>
                        <!-- <a href="http://<%= host %>:<%= port %>/forgot.html">forgot password</a> -->
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    const form = document.querySelector('form');
    const userError = document.querySelector('.user.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        userError.textContent = '';
        passwordError.textContent = '';

        // get values
        const user = form.user.value;
        const password = form.password.value;

        try {

            let res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ user: user, password: password }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();
            if (data.user) {
                location.assign('/');
            }
            else if(data.error) {
                passwordError.textContent = data.error;
            }
            console.log(data);
        }
        catch (err) {
            console.log(err);
        }
    });
</script>

</html>