<div class="addtournament">
    <div class="head">Add Tournament</div>
    <div class="addtourform">
        <form action="/tournament/addtour" method="post">
            <p>
                <label for="">Index :</label>
                <input type="number" required name="index" id="">
            </p>
            <p>
                <label for="">Win Prize :</label>
                <input type="number" required name="win_prize" id="">
            </p>
            <p>
                <label for="">Per Kill :</label>
                <input type="number" required name="per_kill" id="">
            </p>
            <p>
                <label for="">Entry Fees :</label>
                <input type="number" required name="entry_fees" id="">
            </p>
            <p>
                <label for="">Type :</label>
                <input type="text" required name="type" id="">
            </p>
            <p>
                <label for="">Version :</label>
                <input type="text" required name="version" id="">
            </p>
            <p>
                <label for="">Map :</label>
                <input type="text" required name="map" id="">
            </p>
            <p>
                <label for="">Match Date :</label>
                <input type="datetime-local" required name="sheduled_on" id="">
            </p>
            <p>
                <label for="">Status :</label>
                <input type="number" required name="status" id="">
            </p>
            <p>
                <label for="">Total Player :</label>
                <input type="number" required name="total_player" id="">
            </p>
            <p>
                <label for="">Rpay-Link :</label>
                <input type="text" required name="rpay_link" id="">
            </p>
            <!-- <p>
                <label for="">Upload image :</label>
                <input type="file" required name="bg_image" id="">
            </p> -->
            <p>
                <input type="submit" value="Add">
            </p>
        </form>
    </div>
</div>